<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Site</title>
    <link rel="stylesheet" href="main_stylesheets/style_button.css" />
    <link rel="stylesheet" href="main_stylesheets/style_body.css" />
    <link rel="stylesheet" href="main_stylesheets/style_inputs.css" />
    <script src="main_scripts/script_input.js" ></script>
    <script src="main_scripts/script_button_Trends.js" ></script>
    <script src="main_scripts/script_button_mediaplayer.js" ></script>
    <script src="main_scripts/script_button_videoplayer.js" ></script>
</head>
<body>
    THIS IS DONT WORK!

    <div class="main_line">
        <input id="srch" type="text" placeholder="Search" />
        <button id="srch_btn" type="button">Search in Shop</button>
    </div>
    THIS IS DONT WORK!
    <div class="buttons">
        <button id="trends" type="button">Trends!</button>
        <button id="media" type="button">Media Player!</button>
        <button id="audio" type="button">Audio Player!</button>
    </div>
</body>
</html>